<!DOCTYPE html>
<html>
    <head>
        <title>Kalkulaator</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
    <body>
        <h1>Lihtne kalkulaaator</h1>
        <h2>See võrdub: {{arv}}</h2>
        <form action=".">    
            <label for="esinumber">Esinumber/Uusnumber:</label>
            <input id="esinumber" name="esinumber" type="float" value={{esinumber}}><br>
            <label for="teinenumber">Teinenumber:</label>
            <input id="teinenumber" name="teinenumber" type="float" value={{teinenumber}}><br>
             <!-- <article>"SIIN PEAB LISAMA BUTTONIT JA AINUS ERINEVUS PEAKS OLEMA 'value'"</article> --> 
            <input type="submit" value="+" name="tüüp">
            <input type="submit" value="-" name="tüüp">
            <input type="submit" value="*" name="tüüp">
            <input type="submit" value="/" name="tüüp">
            <input type="submit" value="√" name="tüüp">
            <input type="submit" value="^" name="tüüp">
        </form>
    </body>
</html>
